.login-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.login-form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 30px;
  width: 300px;
}

.login-form-title {
  text-align: center;
}

.header {
  background-color: rgb(27, 150, 109);
  padding: 20px;
}

.header-user-email {
  align-items: center;
  display: flex;
  gap: 0.5vh;
}

.header-user-total-expense {
  display: flex;
  gap: 0.5vh;
}
